h1, h3, p {
  font-family: Lato;
  color: #535a60;
}
input{
    margin: 4px 16px 4px 0;
    padding: 2px 18px;
    background-color: #eff0f1;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.24);
    color: #535a60;
    font-weight: 700;
    cursor: default;
    transition: all .25s ease;
    height: 32px;
    font-size: 12px;
}
input:focus{
    outline: none;
}
button{
    margin: 4px 16px 4px 0;
    padding: 2px 18px;
    background-color: #516AE8;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.24);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: default;
    transition: all .25s ease;
    height: 32px;
    font-size: 12px;
    background-color: #cc7a6f;
}